@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);

body {
    background-image: url("./assets/galaxy.jpg");
    font-family: 'Orbitron', sans-serif;
    color: white;
}

img {
    display: block;
    padding-bottom: 10px;
    margin: auto;
}

#imgEarth {
    width: 150px;
    height: auto;
}

#imgMoon {
    width: 100px;
    height: auto;
}

#imgMars {
    width: 250px;
    height: auto;
}

#imgSaturn {
    width: 400px;
    height: auto;
}

#imgJupiter {
    width: 350px;
    height: auto;
}

#imgSun {
    width: 400px;
    height: auto;
}

#imgSpaceship {
    width: 100px;
    height: auto;
    
}
.fa-caret-down
{
    color:black;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 25px;
    margin-left: 0;
}

.visible {
    visibility: visible;
  }

  #menu
  {
    display: block;
    margin-right: 0px;
  }

button
{
    w
}

  button .row
  {
    margin-right: 0rem;
  }

  .menu
  {
      margin-right: 0rem;
  }

  li
  {
      list-style: none;
  }