* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Luckiest Guy';
    src: url("./assets/font/LuckiestGuy-Regular.ttf") format("truetype");
}

/*Config général*/
body {
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Luckiest Guy', sans-serif;
    color: white;
    height: 100vh;
}

p{
    text-align: center;
    margin-top: 0.01vh;
    padding-top: 1vh;
    margin-bottom: 4.22vh ;
    text-shadow: 2px 2px 5px rgb(255, 255, 255) ;
}


/*param header*/

header{
    margin-bottom: 5vh;
}

header span{
    display: none;
}

header div{
    display: flex;
    position: absolute;
    right: 0;
    width: 50%;
    top:1%
}

header div p{
    margin-right: 1%;
    width: 33%;
    margin-top: 0.8vw;
}

@media all  and (max-width:770px)
{
    header div{
        width: 100%;
        display: flex;
        position: relative;
        right: 0;
    }
    header div p{
        width: 100%;
    }
    .glow{
        font-size:2em;
        padding-top: 3vw;
    }
    header span{
        display:block;
        position: absolute;
        right: 5%;
        top: 3vw;
        background-color: #ffffff;
        width: 2em;
        height: 2em;
    }
}

/* effet sur le titre de la page*/
.glow {
    text-align: left;
    animation: glow 1s ease-in-out infinite alternate;
    margin-left: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #d4cbcb, 0 0 30px #969693, 0 0 40px #70706f, 0 0 50px #969693, 0 0 60px #70706F, 0 0 70px #70706F;
    }

    to {
        text-shadow: 0 0 20px #ffffff, 0 0 30px #8a8888, 0 0 40px #3c3c3c, 0 0 50px #211f1f, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
    }
}

/*param img planets et vaiseau*/

#starship:active {
    transform: scale(1.1);
}

.starship{
    display: block;
    padding-left: 25vw;
}

#imgEarth {
    width: 6vh;
    height: auto;
    margin-left: 1vh;
    margin-top: 10vh;
}

#imgMoon {
    width: 5vh;
    height: auto;
    margin-left: 15vh;
    margin-bottom: 3vh;
}


#imgMars {
    width: 7vh;
    height: auto;
    margin-left: 6vh;
    margin-top: 10vh;
}

#imgSaturn {
    width: 13vh;
    height: auto;
    margin-left: 3vh;
    margin-bottom: 10vh;
}

#imgJupiter {
    width: 9vh;
    height: auto;
    margin-left: 3vh;
    margin-top: 10vh;
}

#imgSun {
    width: 15vw;
    height: auto;
}

.planets
{
    margin-top: 20vh;
}

#imgSpaceship {
    width: 10vh;
    height: auto;
}
main:first-child:first-child
{
    display: block;
}


/* param du menu des amélioration*/

/*param de menu general*/
.menuBuilds{
    background-color: #11000fbd;
    border: #ffffff solid 5px;
    border-radius: 15px;
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: 8vh;
    right: 5vw;
    display: flex;
    padding: 5vh 0;
    margin-top: 5vh;
}

/*taille des deux sections*/
.menuBuilds section{
    width: 49%;
}

/* param du titre des sections*/
.menuBuilds h3{
    margin-bottom: 10%;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 1.5vh;
    text-shadow: 2px 2px 5px rgb(255, 6, 6);
}

/* param de la div d'une amélioration (build)*/
.build{
    display: flex;
    margin-left: 2vw;
    height: 10%;
    width: 100%;
    margin-bottom: 5%;
}

/*param des boutton du build*/
button{
    font-family: "Luckiest Guy";
    background: none;
    color: white;
    font-size: 100%;
    border-color: white;
    border-radius: 1vh;
    width: 50%;
    height: 100%;
}

/*param du texte du build*/
.build p{
    margin-left: 3%;
}

/*config de la version mobil du menu des amélioration (taille et position*/
@media all  and (max-width:770px)
{
    
    .menuBuilds{
        height: 70vh;
        width: 80vw;
        left: 10vw;
        top: 18vh;
        justify-content: center;
        display:block;
        overflow: scroll;
    }
    .menuBuilds section{
        width: 100%;
    }
    button{
        width: 50%;
        height: 100%;
    }
    .build p{
        margin-left: 3%;
        padding-top: 0;
    }
    .planets
    {
        margin-top: 1vh;
    }
    #imgEarth {
        width: 6vh;
        height: auto;
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }

    #imgMoon {
        width: 5vh;
        height: auto;
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }


    #imgMars {
        width: 7vh;
        height: auto;
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }

    #imgSaturn {
        width: 13vh;
        height: auto;
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }

    #imgJupiter {
        width: 9vh;
        height: auto;
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }

    #imgSun {
        width: 15vw;
        height: auto;
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }
    .starship{
        display: block;
        padding-left: 42vw;
        display: block;
        padding-bottom: 10px;
        margin: auto;
    }
}

footer
{
    margin: auto;
    display: flex;
    padding-left: 3vh;
}

.name
{
    padding-left: 3vh;
}


