@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);

/*Config général*/
body {
    background-image: url("./assets/galaxy.jpg");
    font-family: 'Orbitron', sans-serif;
    color: white;
}

p{
    text-align: center;
    margin-top: 0.01vh;
    padding-top: 1vh;
    margin-bottom: 4.22vh ;
    text-shadow: 2px 2px 5px rgb(255, 255, 255) ;
}


/*param header*/

header{
    background-color: #211f1f;
    margin-bottom: 5vh;
}

header span{
    display: none;
}

header div{
    display: flex;
    position: absolute;
    right: 0;
    width: 50%;
    top:1%
}

header div p{
    margin-right: 1%;
    width: 33%;
    margin-top: 0.8vw;
}

@media all  and (max-width:770px)
{
    header div{
        width: 100%;
        display: flex;
        position: relative;
        right: 0;
    }
    header div p{
        width: 100%;
    }
    .glow{
        font-size:2em;
        padding-top: 3vw;
    }
    header span{
        display:block;
        position: absolute;
        right: 5%;
        top: 3vw;
        background-color: #ffffff;
        width: 2em;
        height: 2em;
    }
}

/* effet sur le titre de la page*/
.glow {
    text-align: left;
    animation: glow 1s ease-in-out infinite alternate;
    margin-left: 3vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #ffffff, 0 0 20px #d4cbcb, 0 0 30px #969693, 0 0 40px #70706f, 0 0 50px #969693, 0 0 60px #70706F, 0 0 70px #70706F;
    }

    to {
        text-shadow: 0 0 20px #ffffff, 0 0 30px #8a8888, 0 0 40px #3c3c3c, 0 0 50px #211f1f, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
    }
}

/*param img planets et vaiseau*/
img {
    display: block;
    padding-bottom: 10px;
    margin: auto;
}

#imgEarth {
    width: 6vh;
    height: auto;
}

#imgMoon {
    width: 5vh;
    height: auto;
}

#imgMars {
    width: 7vh;
    height: auto;
}

#imgSaturn {
    width: 8vh;
    height: auto;
}

#imgJupiter {
    width: 9vh;
    height: auto;
}

#imgSun {
    width: 10vh;
    height: auto;
}

#imgSpaceship {
    width: 10vh;
    height: auto;
    
}
main:first-child:first-child
{
    display: block;
}


/* param du menu des amélioration*/

/*param de menu general*/
.menuBuilds{
    background-color: #211f1fe1;
    border: #ffffff solid 5px ;
    border-radius: 5px;
    width: 40vw;
    height: 80vh;
    position: absolute;
    top: 8vh;
    right: 5vw;
    display: flex;
    padding: 5vh 0;
    margin-top: 5vh;
}

/*taille des deux sections*/
.menuBuilds section{
    width: 49%;
}

/* param du titre des sections*/
.menuBuilds h3{
    margin-bottom: 10%;
    font-size: 2.5vh;
    text-align: center;
    margin-top: 1.5vh;
    text-shadow: 2px 2px 5px rgb(255, 6, 6);
}

/* param de la div d'une amélioration (build)*/
.build{
    display: flex;
    margin-left: 2vw;
    height: 10%;
    width: 100%;
    margin-bottom: 5%;
}

/*param des boutton du build*/
button{
    font-family: "Orbitron";
    background: none;
    color: white;
    font-size: 100%;
    border-color: white;
    border-radius: 1vh;
    width: 50%;
    height: 100%;
}

/*param du texte du build*/
.build p{
    margin-left: 3%;
}


/*config de la version mobil du menu des amélioration (taille et position*/
@media all  and (max-width:770px)
{
    
    .menuBuilds{
        height: auto;
        width: 80vw;
        left: 10vw;
        top: 18vh;
        justify-content: center;
        display:block;
    }
    .menuBuilds section{
        width: 100%;
    }
    button{
        width: 50%;
        height: 100%;
    }
    .build p{
        margin-left: 3%;
        padding-top: 0;
    }

}


