@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);

body {
    background-image: url("./assets/galaxy.jpg");
    font-family: 'Orbitron', sans-serif;
    color: white;
}

img {
    display: block;
    padding-bottom: 10px;
    margin: auto;
}

#imgEarth {
    width: 150px;
    height: auto;
}

#imgMoon {
    width: 100px;
    height: auto;
}

#imgMars {
    width: 250px;
    height: auto;
}

#imgSaturn {
    width: 400px;
    height: auto;
}

#imgJupiter {
    width: 350px;
    height: auto;
}

#imgSun {
    width: 400px;
    height: auto;
}

#imgSpaceship {
    width: 100px;
    height: auto;
    
}
/*.fa-caret-down
{
    color:black;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 25px;
    margin-left: 0;
}*/

.visible {
    visibility: visible;
  }

  #menu
  {
    display: block;
    margin-right: 0px;
  }

button
{
    margin-bottom: 1.09vh;
    border-radius: 30%;
    border-color: rgb(219, 219, 37);
    width: 100px;
}

  button .row
  {
    margin-right: 0rem;
  }

  .menu
  {
      margin-right: 0px;
      margin-left: auto;
  }

  li
  {
      list-style: none;
  }

  p
  {
      text-shadow: 2px 2px 5px rgb(255, 255, 255) ;
  }

  .bgMenu{
      padding-left: 3vh;
      background-image: url("./assets/bg.svg");
      background-repeat: no-repeat;
      width: 50vh;
  }
p{
    line-height: 1.09vh;
}