@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);

body {
    background-image: url("./assets/galaxy.jpg");
    font-family: 'Orbitron', sans-serif;
    color: white;
}

.planets {
    width: 100px;
    height: auto;
}

.fa-caret-down
{
    color:black;
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    width: 25px;
    margin-left: 0;
}